<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} %-5level \(%logger{36}\) - %message%n</pattern>
        </encoder>
    </appender>

   <logger name="com.gumgum.advertising.api" level="INFO"/>
   <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="DEBUG"/>

    <root>
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
